.board-column {
    width:280px
}

.card__description {
    min-height: 150px;
}

.card__modal__content {
    min-height: 400px;
}

.card__modal__content .spinner-border {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}