.board-column {
    width: 272px;
    border-radius: 12px;
}

.card-main {
    border-radius: 8px;
    margin-bottom: 8px;
}

.card-main__body {
    padding: 8px 12px 4px;
}

.card__description {
    min-height: 150px;
}

.card__modal__content {
    min-height: 400px;
}

.card__modal__content .spinner-border {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.card-title {
    font-size: 14px;
}

.column__header h3 {
    font-size: 14px;
}

.column__cards-wrapper {
    max-height: 80vh;
    overflow: scroll;
}

.c-pointer {
    cursor: pointer
}